%article.category.wood
  %a{:href => "#"}
    =image_tag("wood.jpg")
    .effect-layer
    %h2
      %span.title WoodWorking
      %span.subtext work in progress

%article.category.mtb
  %a{:href => "#"}
    =image_tag("mtb.jpg")
    .effect-layer
    %h2
      %span.title MTBphotography
      %span.subtext (deprecated)

%article.category.code
  %a{:href => "#"}
    =image_tag("code.png")
    .effect-layer
    %h2
      %span.title Coding
      %span.subtext console.log('Please save me!')

%article.category.travel
  %a{:href => "#"}
    =image_tag("travel.jpg")
    .effect-layer
    %h2
      %span.title Travelling
      %span.subtext en cours de route