#main-navigation-modal
  %ul.main-navigation-list
    %li.main-navigation-list-item
      =link_to('Link Text', '#')
    %li.main-navigation-list-item
      =link_to('Link Text', '#')
    %li.main-navigation-list-item
      =link_to('Link Text', '#')
    %li.main-navigation-list-item
      =link_to('Link Text', '#')

  .container.hipster
    #tree
      %i.fa.fa-tree
    #anchor
      %i.fa.fa-anchor
    #beer
      %i.fa.fa-beer